@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  scroll-behavior: smooth;

}


.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid red;
}

.hero{
  height: 75vh;
  margin: 30px auto;
  background: url("../public/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  
  position: relative;
}
.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 0px;
  overflow-x: scroll;
}
.explore-menu-list::-webkit-scrollbar{
  display: none;
}



.explore-menu-list .active{
  border: 4px solid tomato;
  padding: 3px;
}